server:
  replicaCount: 1
  image:
    repository: ghcr.io/isirajieinnocent/spacetime-db
    tag: latest
  port: 4242

client:
  replicaCount: 1
  image:
    repository: ghcr.io/isirajieinnocent/client-app
    tag: latest
  port: 5173

auth:
  replicaCount: 1
  image:
    repository: ghcr.io/isirajieinnocent/auth-server
    tag: latest
  port: 4001
