apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "game-app.fullname" . }}-client 
  namespace: {{ .Release.Namespace }} 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: innocenttech/client:latest
          command: ["sh", "-c", "cd /app/dist && npx serve -s . -l 5173"]
          ports:
            - containerPort: 5173
          env:
            - name: HOST
              value: "0.0.0.0"
            - name: PORT
              value: "5173"